{% extends 'app/base.html' %}


{% block content %}


<div class="hero">
    <h1>Аналитик вакансии</h1>
    <p> </p>
  </div>
  <script class="hh-script" src="https://api.hh.ru/widgets/vacancies/search?count=3&locale=RU&links_color=1560b2&border_color=1560b2&text=analyst&area=1&professional_role=10"></script>
  
  <div class="credits">
    <a href="https://twitter.com/arximughal"><i class="fa fa-twitter"></i></a>
    <a href="https://facebook.com/arximughal"><i class="fa fa-facebook"></i></a>
    <a href="https://arslanaslam.me"><i class="fa fa-globe"></i></a>
  </div>

{% endblock %}